<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src="/assets/brand/tbs.png" width="30" height="30" class="d-inline-block align-top" alt=""> TBS</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['manage-skills']">Manage Skills</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/search']">Search</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['reports']">Reports</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/users']">Users</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/clients']">Clients</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/projects']">Projects</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"[routerLink]="['/roles']">Roles</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/team']"><i class="fa fa-users" aria-hidden="true"></i> Team</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link"[routerLink]="['/skills']">Skills</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item logout">
        <a class="nav-link" [routerLink]="['/login']"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a>
      </li>
    </ul>
  </div>
</nav>
