@import "_variables.scss";

html, body {
  height: 100%;
  width: 100%;
}

.options p {
  margin-bottom: 0;
}
.btn {
  &:hover {
    cursor: pointer;
  }
}
.btn-primary {
  background-color: $color-red;
  border-color: $color-red;
  &:hover {
    background-color: $color-red;
    border-color: $color-red;
    opacity: .8;
  }
}

.progress {
  background: #ccc;
}

.table {
  th, td {
      text-align: center;
  }
}

.flex-end {
  justify-content: flex-end;
}

.abm-form {
  border: solid 2px black;
  border-radius: 3px;
  padding: 1rem;
}
.action-link {
  padding: 0 .5rem;
}
