@import "../../../assets/scss/_variables.scss";
.top-row {
  padding: 1rem 0 0 0;
}
.user-picture {
  text-align: center;
  i {
    font-size: 15rem;
  }
}
.skill-reference {
  ul {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
}
