<div class="row top-row justify-content-center">
  <div class="col-4 user-picture">
    <i class="fa fa-user-secret" aria-hidden="true"></i>
  </div>
  <div class="col-4">
      <h1>{{currentUser.info.name}}</h1>
      <h2>{{currentUser.info.role.description}}</h2>
      <p *ngIf="currentUser.info.experience.length > 0">{{currentUser.info.experience[0].description}}</p>
      <ul class="options">
        <li><a class="nav-link" data-toggle="modal" data-target="#detailedInfoModal"><i class="fa fa-search" aria-hidden="true"></i> <span>Details</span></a></li>
        <li><a class="nav-link" data-toggle="modal" data-target="#resumeModal"><i class="fa fa-file" aria-hidden="true"></i> <span>Resumé</span></a></li>
        <li><b>Interests:</b> <span>{{currentUser.info.interests || 'No Interests Found'}} </span><a data-toggle="modal" data-target="#interestsModal"><i class="fa fa-pencil" aria-hidden="true"></i></a></li>
        <li><b>Latest Projects:</b> <span>{{currentUser.info.projects || 'No Projects Found'}}</span></li>
      </ul>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>Skill</th>
          <th>Score</th>
          <th>Verified</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="currentUser.info.skills.length < 1">
          <td colspan="3">There are no current skills associated with {{currentUser.info.name}}.</td>
        </tr>
        <tr *ngFor="let skill of currentUser.info.skills; let i = index">
          <td>{{skill.skill.description}}</td>
          <!--td>{{skill.level}}/10</td-->
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" [ngStyle]="{width: skill.level/10 | percent:'1.0-1'}" [attr.aria-valuenow]="skill.level" aria-valuemin="0" aria-valuemax="10">{{skill.level}}/10</div>
            </div>
          </td>
          <td><i class="fa" [ngClass]="skill.verified ? 'fa-check' : 'fa-times'" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
    <p></p>
  </div>
</div>

<!-- Resumé Modal -->
<div class="modal fade" id="resumeModal" tabindex="-1" role="dialog" aria-labelledby="resumeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Resumé</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        <div class="row abm-form">
            <div class="col-8">
              <form>
                <div class="form-group">
                  <label for="inputEmployer">Employer</label>
                  <input type="text" class="form-control" id="inputEmployer" placeholder="<Employer/Company>" [(ngModel)]="exp_employer" name="employer">
                  <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
                </div>
                <div class="form-group">
                  <label for="inputJobDescription">Job Description</label>
                  <textarea class="form-control" id="inputJobDescription" rows="3" maxlength="300" [(ngModel)]="exp_description" name="jobdescription" placeholder="<Job Description>"></textarea>
                </div>
              </form>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="inputStartDate">Start Date</label><br/>
                <ng2-datepicker id="inputStartDate" [options]="datepickerOptions" [(ngModel)]="exp_start_date"></ng2-datepicker>
              </div>
              <div class="form-group">
                <label for="inputEndDate">End Date</label><br/>
                <ng2-datepicker id="inputEndDate" [options]="datepickerOptions" [(ngModel)]="exp_end_date"></ng2-datepicker>
              </div>
              <div class="add-experience">
                <button type="submit" class="btn btn-primary" (click)="saveExperience()">Save</button>
                <button type="submit" class="btn btn-primary" [disabled]="!currentUserExperience._id" (click)="cancelExperience()">Cancel</button>
              </div>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="!!invalidExperienceMessage">
          <div class="col-12">
            <div class="alert alert-danger" role="alert">
              <strong>Error!</strong> {{invalidExperienceMessage}}
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="form-group row">
              <div class="col-12">
                <table *ngIf="currentUser.info.experience" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Employer</th>
                      <th>Role</th>
                      <th>Dates</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="currentUser.info.experience.length < 1">
                      <td colspan="4">There are no job experiences associated with {{currentUser.info.name}}.</td>
                    </tr>
                    <tr *ngFor="let exp of currentUser.info.experience; let i = index">
                      <td>{{exp.employer}}</td>
                      <td>{{exp.description}}</td>
                      <td>{{exp.start_date | date: 'dd/MM/yyyy'}} - {{exp.end_date | date: 'dd/MM/yyyy' || 'ongoing'}}</td>
                      <td>
                        <button class="action-link" [disabled]="!currentUser.info.experience[i]._id" (click)="editUserExperience(currentUser.info.experience[i], i)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button class="action-link" (click)="removeUserExperience(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveResumeChanges()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Detailed Info Modal -->
<div class="modal fade" id="detailedInfoModal" tabindex="-1" role="dialog" aria-labelledby="detailedInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Personal Info</h5>
      </div>
      <div class="modal-body container">
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">File Number:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.file_number || 'Info Not Found'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Name:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.name || 'Info Not Found'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">PID:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.pid_type || 'Info Not Found'}} {{currentUser.info.pid_number || ''}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Address:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.address || 'Info Not Found'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">Phone:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.phone || 'Info Not Found'}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group row">
              <label for="example-text-input" class="col-2 col-form-label">E-Mail:</label>
              <div class="col-10">
                <p class="form-control-static">{{currentUser.info.email || 'Info Not Found'}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Interests Modal -->
<div class="modal fade" id="interestsModal" tabindex="-1" role="dialog" aria-labelledby="interestsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Interests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
        <div class="row">
          <div class="col-12">
            <textarea class="textarea-interests" [(ngModel)]="inputInterests" maxlength="300">{{inputInterests}}</textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="saveInterests()" >Save changes</button>
      </div>
    </div>
  </div>
</div>
