<div class="row top-row">
  <div class="col-12">
    <h1>Project Skills</h1>
  </div>
</div>
<div class="row">
  <div class="col-6">
      <div class="abm-form">
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <input list="project_list" type="text" class="form-control" placeholder="Select Project..." [ngModel]="inputProjectName" (ngModelChange)="onProjectNameChange($event)">
              <span class="input-group-btn">
                <datalist id="project_list">
                    <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
                </datalist>
              </span>
            </div>
            <div class="input-group">
              <input list="skill_list" type="text" class="form-control" placeholder="Select skill to add..." [ngModel]="inputSkillName" (ngModelChange)="onSkillNameChange($event)">
              <span class="input-group-btn">
                <datalist id="skill_list">
                    <option *ngFor="let skill of skills" [ngValue]="skill._id">{{skill.name}}</option>
                </datalist>
              </span>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group form-check-inline">
                  <label for="inputStartDate">From:</label>
                  <ng2-datepicker id="inputProjectSkillStartDate" [options]="datepickerOptions" [(ngModel)]="filter.start_date"></ng2-datepicker>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group form-check-inline">
                  <label for="inputStartDate">To:</label>
                  <ng2-datepicker id="inputProjectSkillEndDate" [options]="datepickerOptions" [(ngModel)]="filter.end_date"></ng2-datepicker>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="alert alert-danger" role="alert" [hidden]="!invalidSkillQuery">
                  <strong>Error!</strong> {{invalidSkillQueryMessage}}
                </div>
              </div>
              <div class="col-4">
                <div class="form-group justify-content-flex-end">
                  <button type="submit" class="btn btn-primary" (click)="assignSkill()"><i class="fa fa-check" aria-hidden="true"></i> Assign Skill</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-6">
    <table class="table table-striped table-userskills" *ngIf="currentProject">
      <thead class="thead-inverse">
        <tr>
          <th>Skill</th>
          <th>Amount</th>
          <th>Period</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="currentProject && currentProject.skills.length < 1">
          <td colspan="4">There are no current skills associated</td>
        </tr>
        <tr *ngFor="let projskill of currentProject.skills; let i = index">
          <td>{{projskill.skill.description}}</td>
          <td>{{projskill.amount}}</td>
          <td>{{projskill.start_date | date: 'dd/MM/yyyy' }} - {{ projskill.end_date | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button (click)="addAmount($event.currentTarget.value)" [value]="i"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <button (click)="subAmount($event.currentTarget.value)" [value]="i"><i class="fa fa-minus" aria-hidden="true"></i></button>
            <button (click)="removeProjectSkill($event.currentTarget.value)" [value]="i"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row top-row">
  <div class="col-12">
    <h1>Team Building</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>employees</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <h4>Project Description</h4>
    <p *ngIf="currentProject">
      {{currentProject.description}}
    </p>
  </div>
  <div class="col-6">
    <h4>Summary</h4>
    <div *ngIf="currentProject">
      <div class="row">
        <div class="col-4"><b>Total Period:</b></div>
        <div class="col-8">{{currentProject.start_date | date: 'dd/MM/yyyy'}} - {{currentProject.end_date | date: 'dd/MM/yyyy'}}</div>
      </div>
      <div class="row">
        <div class="col-4"><b>Team Size:</b></div>
        <div class="col-8">{{currentProject.employees.length}}</div>
      </div>
      <div class="row">
        <div class="col-4"><b>Team Time:</b></div>
        <div class="col-8"></div>
      </div>
      <div class="row">
        <div class="col-4"><b>Project:</b></div>
        <div class="col-8">{{currentProject.name}}</div>
      </div>
    </div>
  </div>
</div>
